apiVersion: v1
kind: Secret
metadata:
  name: payments-api-secret
  namespace: fcg
type: Opaque
stringData:
  ConnectionStrings__Payments: "Host=payments-postgres;Port=5432;Database=payments_db;Username=postgres;Password=CHANGE_ME"
  Jwt__Key: "CHANGE_ME"
  RabbitMQ__Password: "CHANGE_ME"
  AWS__SQS__PaymentProcessedQueueUrl: ""
