apiVersion: v1
kind: Secret
metadata:
  name: users-api-secret
  namespace: fcg
type: Opaque
stringData:
  ConnectionStrings__Users: "Host=users-postgres;Port=5432;Database=users_db;Username=postgres;Password=CHANGE_ME"
  Jwt__Key: "CHANGE_ME"
  RabbitMQ__Password: "CHANGE_ME"
  Redis__ConnectionString: "redis:6379,password=CHANGE_ME"
  AWS__SQS__UserCreatedQueueUrl: ""
