apiVersion: v1
kind: Secret
metadata:
  name: catalog-api-secret
  namespace: fcg
type: Opaque
stringData:
  ConnectionStrings__Catalog: "Host=catalog-postgres;Port=5432;Database=catalog_db;Username=postgres;Password=CHANGE_ME"
  # RSA: só a chave pública é necessária para validação
  Jwt__RsaPublicKey: "CHANGE_ME_base64_pem"
  RabbitMQ__Password: "CHANGE_ME"
  Redis__ConnectionString: "redis:6379,password=CHANGE_ME"
