apiVersion: v1
kind: Secret
metadata:
  name: payments-api-secret
  namespace: fcg
type: Opaque
stringData:
  ConnectionStrings__Payments: "Host=payments-postgres;Port=5432;Database=payments_db;Username=postgres;Password=CHANGE_ME"
  # RSA: só a chave pública é necessária para validação
  Jwt__RsaPublicKey: "CHANGE_ME_base64_pem"
  RabbitMQ__Password: "CHANGE_ME"
  AWS__SQS__PaymentProcessedQueueUrl: ""
